<div class="filter-container">
      
    <!-- Categoríur -->
    <div class="categories">
      <ul class="base-color">      
        <li>
          <!-- Bæta við classa "active-category" ef þessi categoría er valinn-->
          <a class="transition header " [ngClass]="{'active-category': activeCategory === 'Lífið'}" (click)="filterCategories('Lífið')">
            Lífið
          </a>
        </li>
        <li>
            <a class="transition header " [ngClass]="{'active-category': activeCategory === 'Tónlist'}" (click)="filterCategories('Tónlist')">
              Tónlist
            </a>
          </li>
        <li>
            <a class="transition header " [ngClass]="{'active-category': activeCategory === 'Íþróttir'}" (click)="filterCategories('Íþróttir')">
              Íþróttir
            </a>
          </li>
        <li>
            <a class="transition header" [ngClass]="{'active-category': activeCategory === 'Fréttir'}" (click)="filterCategories('Fréttir')">
              Fréttir
            </a>
          </li>
        <li>
            <a class="transition header " [ngClass]="{'active-category': activeCategory === undefined}" (click)="filterCategories(undefined)">
              Allt
            </a>
          </li>
      </ul>
    </div>


  </div>
    <!-- Iterate-a yfir upplýsngar um fréttir-->
    <div class="frett-container" *ngFor="let frett of frettir">
      <div class="frett transition">
                                          <!-- Ná í viðeigandi url að ljósmynd  -->
          <div class="frett-banner cover" [ngStyle]="{'background-image': 'url(' + frett.photo + ')'}">
              
          </div>

          <div class="category category-color header">
              <h4>
                  {{frett.category}}
              </h4>
          </div>

          <div class="title base-color header {{frett.category}}">
              <h2>
                  <b>
                      {{frett.title}}
                  </b>
                  
              </h2> 
          </div>

          <p id="date" class="base-color">
              {{frett.date}}
          </p>
          
          
          <p id="paragraph" class="base-color">
              {{frett.content}}
          </p>
      </div>
    </div>