<app-front-page></app-front-page>

<footer>
     <!-- Adressu og logo -->
    <div class="footer-section-container">

        <div class="footer-brand-logo contain">

        </div>

        <address>
            <p>
                Holtavegur 10
            </p>
            <p>
                104 Reykjavík
            </p>
            <p>
                547 0000
            </p>
            <p>
                info@premis.is
            </p>
            <p>
                Kt. 540199-2569
            </p>
            <p>
                Vsk. nr 61001
            </p>
        </address>
    </div>
     <!-- Veftré -->
    <div class="footer-section-container navigation">
        <h2 class="header">
            Veftré
        </h2>

        <ul>
            <li class="transition">
                Um okkur
            </li>
            <li class="transition">
                Vörur
            </li>
            <li class="transition">
                Sagan
            </li>
        </ul>

    </div>
     <!-- Samfélagsmiðlar -->
    <div class="footer-section-container large-container social-large-container">
        <h2 class="header">
            Samfélagsmiðlar
        </h2>

        <div class="social-container">
            <div class="social contain transtion facebook">

            </div>
            <div class="social contain transtion instagram">

            </div>
            <div class="social contain transtion twitter">

            </div>
            <div class="social contain transtion basketball">

            </div>
        </div>

    </div>
     <!-- Póstlisti -->
    <div class="footer-section-container postlisti large-container">
        <h2 class="header">
            Póstlisti
        </h2>
        <p>
            Lorem Ipsum is simply a dummy text of the printing and typesetting industry
        </p>

        <div class="postlisti-container">
            <input type="text" class="postlisti-input" placeholder="Sláðu inn netfang">
            <div class="postlisti-envelope contain transition"></div>
        </div>

    </div>

</footer>