/* Navbar stílar */
nav {
    position: absolute;
    width: 100%;
    padding-top: 35px;
    z-index: 1;
}

.brand-logo {
    position: relative;
    float: left;
    height: 90px;
    width: 2.5%;
    margin-left: 9%;
    background: url('../../assets/icons/logo/P-logo.svg');
}

nav ul {
    position: relative;
    float: right;
    width: 72.5%;
    box-sizing: border-box;
    margin-right: 9%;
}

nav ul li {
    float: right;
    width: 11%;
    margin-top: 2%;
    text-align: center;
    cursor: pointer;
}

nav ul li:hover {
    color: #f3ba96;
}

#facebook-button-container {
    margin-top: 1.5%;
}

.facebook-button {
    background: url('../../assets/icons/social/facebook-logo-button-white.svg');
    height: 35px;
    width: 35px;
    margin: 0 auto;
}

/* Mobile Nav Stílar */ 

.mobile-nav {
    position: absolute;
    display: none;
    height: 90px;
    width: 100%;
    padding-top: 35px;
    z-index: 1;
}

.show-mobile-nav {
    display: block!important;
    -webkit-animation: reveal-mobile-nav ease-in-out 600ms  forwards;
    -moz-animation: reveal-mobile-nav ease-in-out 600ms  forwards;
    -o-animation: reveal-mobile-nav ease-in-out 600ms  forwards;
    animation: reveal-mobile-nav ease-in-out 600ms forwards;
}

@keyframes reveal-mobile-nav {
    0% {
        -webkit-transform: translateX(360px);
        -moz-transform: translateX(360px);
        -o-transform: translateX(360px);
        transform: translateX(360px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;        
    }
}

.mobile-nav-button {
    position: relative;
    float: right;
    height: 35px;
    width: 90px;
    margin: 25px auto;
    right: 2.5%;
    background: url('../../assets/icons/menu-button.svg') no-repeat center center;
    opacity: .8;
    cursor: pointer;
}

.mobile-nav-button:hover {
    opacity: 1;
}

.mobile-nav-dropdown {
    position: fixed;
    display: none;
    height: 100vh;
    width: 360px;
    top: 0;
    right: 0;
    background: #262635;
}

.exit-button {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 20px;
    top: 20px;
    background: url('../../assets/icons/exit-icon.svg') no-repeat center center;
    cursor: pointer;
    opacity: .8;
    z-index: 10;
}

.exit-button:hover {
    opacity: 1;
}

.mobile-nav-dropdown ul {
    position: relative;
    padding: 0;
    color: #fafafa;
    list-style: none;
    padding-top: 50px;
}

.mobile-nav-dropdown li {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: solid 1px #fafafa;
    cursor: pointer;
}

.mobile-nav-dropdown li span {
    opacity: .8;
}

.mobile-nav-dropdown li:hover span {
    opacity: 1;
}

.social-media-icons {
    position: relative;
    box-sizing: border-box;
    height: 60px;
    width: 360px;
    margin-top: 30px;
    padding: 0 15%;
}

.social-media-icon {
    position: relative;
    float: left;
    box-sizing: border-box;
    height: 35px;
    width: 33%;
    margin: 10px auto;
    opacity: .8;
    cursor: pointer;
}

.social-media-icon:hover {
    opacity: 1;
}

.facebook-white {
    background: url('../../assets/icons/social/facebook-logo-button-white.svg')   
}

.instagram-white {
    background: url('../../assets/icons/social/instagram-logo-white.svg') 
}

.twitter-white {
    background: url('../../assets/icons/social/twitter-logo-button-white.svg') 
}


/* Hero Stílar */

.hero-banner {
    position: relative;
    height: 120vh;
    width: 100%;
    top: 0;
    background-image: url('../../assets/hero/hero3.jpg');
    overflow: hidden;
}

.hero-text {
    position: relative;
    float: right;
    height: 480px;
    width: 40%;
    top: 33%;
    right: 7.75%;
    background: url('../../assets/hero/HeroText.svg');
}

.down-arrow {
    position: relative;
    height: 40px;
    width: 100%;
    top: 92.5vh;
    background: url('../../assets/hero/down-arrow.svg');
    cursor: pointer;
}

.down-arrow:hover {
    -webkit-transform: translateY(7.5px);
    -moz-transform: translateY(7.5px);
    -o-transform: translateY(7.5px);    
    transform: translateY(7.5px);
}

.hero-banner-fade {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 88%;
    background: url('../../assets/hero/Grunge.svg');
}

/* Frettir section */


.frettir-container {
    position: relative;
    float: left;
    width: 82%;
    height: auto;
    top: 0%;
    margin: 50px 9% 10% 9%;
}